<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.netfour.com.accountquery_sys.mapper.DayaccountMapper">
	<resultMap type="DayaccountBean" id="dayMap">
		<result property="id" column="dayaccount_id" javaType="java.lang.Long"/>
		<result property="day" column="day" javaType="java.lang.Long"/>
		<result property="dayDuration" column="day_duration" javaType="java.lang.Long"/>
		
		
		<result property="monthaccountBean.month" column="month" javaType="java.lang.Long"/>
		<result property="monthaccountBean.id" column="monthaccount_id" javaType="java.lang.Long"/>
		<result property="monthaccountBean.yearaccountBean.year" column="year" javaType="java.lang.Long"/>
		<result property="monthaccountBean.yearaccountBean.id" column="yearacount_id" javaType="java.lang.Long"/>
		<result property="monthaccountBean.yearaccountBean.businessBean.number" column="business_number" javaType="java.lang.String"/>
		<result property="monthaccountBean.yearaccountBean.accountBean.number" column="account_number" javaType="java.lang.String"/>
		<result property="monthaccountBean.yearaccountBean.accountBean.name" column="account_name" javaType="java.lang.String"/>
		<result property="monthaccountBean.yearaccountBean.businessBean.serviceIp" column="business_serviceIp" javaType="java.lang.String"/>
	</resultMap>
	
	  <!-- <select id="getdayaccountdayAll" resultMap="dayMap">
 		
 		select distinct d.`day` from yearacount as y  left join monthaccount as m 
		on m.fk_yearaccount_id = y.yearacount_id
		LEFT JOIN dayaccount as d on d.fk_monthaccount_id = m.monthaccount_id
		WHERE y.`year` = #{map.tzyear}
		AND m.`month` = #{map.tzmonth}
		ORDER BY m.month ASC
 		     
 	</select>  --> 
	
	<insert id="addDayaccount" parameterType="java.util.List" >
		INSERT into dayaccount(day , day_duration , fk_monthaccount_id,fk_yearaccount_id)
		VALUES 
		<foreach collection="days" item="list" separator=",">
			(#{list.day},#{list.dayDuration},#{list.monthaccountBean.id},#{list.monthaccountBean.yearaccountBean.id})
		</foreach> 
	</insert>
	
	<select id="count" resultType="int">
		SELECT COUNT(d.dayaccount_id)	
		from yearacount as y 
		LEFT JOIN monthaccount as m on m.fk_yearaccount_id = y.yearacount_id
		LEFT JOIN dayaccount as d on d.fk_monthaccount_id = m.monthaccount_id
		LEFT JOIN  account as a  ON y.fk_account_id = a.account_id 
		LEFT JOIN business as b on b.business_id = y.fk_business_id
		<include refid="Sql"></include>
	</select>
	<select id="getDayaccounAlltByIdAndYear" resultMap="dayMap">
		SELECT d.dayaccount_id ,y.`year` , m.`month` , d.`day` , d.day_duration ,a.account_name  ,
		a.account_number  , b.business_number  , b.business_serviceIp 	
		from yearacount as y 
		LEFT JOIN monthaccount as m on m.fk_yearaccount_id = y.yearacount_id
		LEFT JOIN dayaccount as d on d.fk_monthaccount_id = m.monthaccount_id
		LEFT JOIN  account as a  ON y.fk_account_id = a.account_id 
		LEFT JOIN business as b on b.business_id = y.fk_business_id
		<include refid="Sql"></include>
		limit #{map.index},#{map.pageSize}
	</select>
	
	<sql id="Sql">
 		<trim prefix="where" prefixOverrides="and|or">
 			<if test="1==1">
 				1 = 1
 			</if>
 			<if test="map.year != null">
 				and y.year like CONCAT(#{map.year},'%')
 			</if>
 			<if test="map.month == 1 ">
 				and m.month = #{map.month}
 			</if>
 			<if test="map.day == 1 ">
 				and d.day = #{map.day}
 			</if>
 			<if test="map.day == 2 ">
 				and d.day = #{map.day}
 			</if>
 			<if test="map.day == 3 ">
 				and d.day = #{map.day}
 			</if>
 			
 			<if test="map.month != null and map.month != 1	">
				AND m.month like CONCAT(#{map.month},'%')
 			</if>
 			
 			<if test=" map.day != null and map.day != 1 and map.day != 2 and map.day != 3 ">
 				
 				AND d.day like CONCAT(#{map.day},'%')
 			
 			</if>
 			
 			<if test="map.month != null  and map.month != 1 and map.month != 2 and map.month != 3	">
				AND m.month like CONCAT(#{map.month},'%')
 			</if>
 			
 			<if test="map.accountNumber != null">
 				AND a.account_number  like CONCAT(#{map.accountNumber},'%')
 			</if>
 			
 			<if test="true">
 				and d.day  is not NULL
 			</if>
 		</trim>
 	</sql>
 
 	<select id="selectDayDuration" resultMap="dayMap">
 		SELECT  SUM(TIMESTAMPDIFF(MINUTE,server_logintime,server_exittime)) as dayDuration ,
		y.yearacount_id,m.monthaccount_id
		from server as s
		LEFT JOIN business as b ON s.fk_business_id = b.business_id
		LEFT JOIN account as a on b.fk_accort_id = a.account_id
		LEFT JOIN yearacount as y on y.fk_account_id = a.account_id and y.fk_business_id = b.business_id
		LEFT JOIN monthaccount as m on m.fk_yearaccount_id = y.yearacount_id
		WHERE server_exittime LIKE CONCAT(#{map.date},'%')
		AND y.`year` = #{map.year}
		AND m.`month` = #{map.month}
		GROUP BY s.fk_business_id 
 	</select>
 
</mapper>